#Example .env file for NordvikManagerFrontEnd

# base url for backend API calls, without protocol. helpful for local development
REACT_APP_BASE_URL = "localhost:8214"
REACT_APP_PROTOCOL = "https://"

# for local development, instead of setting this you
# can use pnpm run start_gm or pnpm run start_player
# REACT_APP_MODE = "player"


# url for central server, used for authentication and session handling.
# for dev use local one, you can also authenticate against nordvikmanager.pl
# for production auth
REACT_APP_CENTRAL_URL = "http://localhost:3000"